
body{
    display: flex;
    flex-direction: column;
}

/* text CSS */
h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 0;
    color: #4aaaa5;
}

a, p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/* Header elements*/
header{
    background-color: #ffffff;
    width: 100%;
}

.name{
    justify-self: flex-start;
}

.name h1{
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
}

.header-nav{
    margin:0;
    justify-self: flex-end;
    align-self: flex-end;
}

/* wrapper style*/
.wrapper{
    margin: auto;
    width: 70%;
    display: flex;
}

.top{
    justify-content: space-between;
}

.main{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    top: 20px;
}

/* about me page style*/
.content{
    background: url(../images/cork-wallet.png) repeat;
    border-bottom: 4px #4aaaa5 solid;
    border-top: 2px #cccccc solid;
}

.title{
    flex-grow: 1;
    padding-bottom: 10px;
    border-bottom: 2px #cccccc solid;
}

.description{
    display: flex;
    padding-top: 20px;
}

.description-image{
    margin: 0 20px 20px 0;
}

/*Contact Page Styles*/
.main{
    width: 100%;
}

.contact-form{
    margin-top: 20px;
    width: 100%;
}

.contact-form p{
    margin-bottom: 0;
}

.form-control{
    width: 100%;
}

.submit{
    background-color: #4aaaa5;
    color: white;
    padding: 5px 20px;
    border: none;
}


/* footer style*/
.footer{
    background-color: #777777;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.footer p{
    color: white;
    margin: 0;
}
